BasedOnStyle: LLVM  # 基于 LLVM 风格调整
Language: Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveDeclarations: true
AlignOperands: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  AfterControlStatement: true
IndentWidth: 4
PointerAlignment: Left
TabWidth: 4
UseTab: Never
ColumnLimit: 120
MaxEmptyLinesToKeep: 1 